<div class="col-sm-6">
    <table class="table table-condensed stats">
        <p class="h4">
        Test Summary
        </p>
        <tbody>
        <tr>
            <th>
                Test
            </th>
            <td>
                [<b>{{test_type}}</b>] on [<b>{{capability}}</b>]
                <br>
                {{test_name}}
            </td>
        </tr>
        <tr>
            <th>
                Desc.
            </th>
            <td>
                {{description}}
            </td>

        </tr>
        <tr>
            <th>
                Result.
            </th>
            <td>
                <b>
                <span style="color: #7A9DEA">Failure Rate</span>
                </b>
                <br>
                {{result["fail"]}} / {{result["testcases"]}} = {{result["rate"]|dynamic_filter("fmt_percent")}}
            </td>

        </tr>
        </tbody>
    </table>
</div>

<div class="col-sm-6">
    <p class="h4">
        Examples
    </p>
    <ul>
        {% for example in examples %}
        {% for e in example['examples'] %}
        <li>
            {% if e["succeed"] == 1%}
             &#9745
            {% else %}
             &#9746
            {% endif %}
            |<b>Expected: {{e["label"]}}</b>
            |<b>Pred: {{e["new"]["pred"]}}({{e["new"]["conf"] | dynamic_filter("fmt_percent")}})</b>
            <br>
            {% if e["old"]%}
            <p>{{e["old"]["text"]}}</p>
            <b>&#x2193</b>
            {% endif %}
            <p>{{e["new"]["text"]}}</p>

        </li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>