<div class="col-sm-6">
    <table class="table table-condensed stats">
        <p class="h4">
        Test Summary
        </p>
        <tbody>
        <tr>
            <th>
                Test
            </th>
            <td>
                [<b>{{test_type}}</b>] on [<b>{{capability}}</b>]
                <br>
                {{test_name}}
            </td>
        </tr>
        <tr>
            <th>
                Desc.
            </th>
            <td>
                {{description}}
            </td>

        </tr>
        <tr>
            <th>
                Result.
            </th>
            <td>
                <b>
                <span style="color: #7A9DEA">Failure Rate</span>
                </b>
                <br>
                {{result["fail"]}} / {{result["testcases"]}} = {{result["rate"]|dynamic_filter("fmt_percent")}}
            </td>

        </tr>
        </tbody>
    </table>
</div>

<div class="col-sm-6">
    <p class="h4">
        Examples
    </p>
    {% set test_name_no_space = test_name.replace(' ', '-') %}
    <div class="btn-group mr-2 cl-btn" id={{test_name_no_space}}>
        <button class="btn btn-default" >ALL</button>
        <button class="btn btn-default" >Y</button>
        <button class="btn btn-default" >N</button>
    </div>
    <div class="tableFixHead">
    <table class="table table-striped" id={{test_name_no_space}}-table>
    <thead>
        <tr>
            {% if test_type == "MFT"%}
            <th>Passed</th>
            <th>Expected</th>
            <th>Prediction</th>
            <th>Text</th>
            {% else %}
            <th>Passed</th>
            <th>Original Prediction</th>
            <th>Perturbed Prediction</th>
            <th>Text</th>
            {% endif %}
        </tr>
    </thead>
    <tbody class="searchable">
        {% for testcase in testcases %}
        {% for e in testcase['examples'] %}
      <tr>
          <td>
             {% if e["succeed"] == 1%}
             Y
            {% else %}
             N
            {% endif %}
          </td>
          <td>
            {% if test_type == "MFT"%}
              {{e["label"]}}
            {% else %}
              {{e["old"]["pred"]}}({{e["old"]["conf"] | dynamic_filter("fmt_percent")}})
            {% endif %}
          </td>
          <td>
              {{e["new"]["pred"]}}({{e["new"]["conf"] | dynamic_filter("fmt_percent")}})
          </td>
          <td>
            {% if e["old"]%}
            {{e["old"]["text"]}}
            -->
            {% endif %}
            {{e["new"]["text"]}}
          </td>

      </tr>
    {% endfor %}
    {% endfor %}

    </tbody>
    </table>
    </div>

</div>