{% if name %}
    <p class="h4" align="center"><b>{{ name }}</b></p>
{% endif %}
<table class="table table-condensed stats" id="{{ anchor_id }}">
    {% if header %}
        <thead>
            {% for h in header %}
                <th>
                    {{ h }}
                </th>
            {% endfor %}
        </thead>
    {% endif %}
    <tbody>
        {% for row in rows %}
            <tr data-toggle="collapse" data-target="#{{ anchor_id }}-{{loop.index}}" class="accordion-toggle">
                {{ row.render() }}
            </tr>

            <td class="accordian-body collapse" id="{{ anchor_id }}-{{loop.index}}" >
<!--                <div class="accordian-body collapse" id="{{ anchor_id }}-{{loop.index}}">-->
                    {% for toggle_content in row.content['toggle_content'] %}
                        {{ toggle_content.render() }}
                    {% endfor %}
<!--                </div>-->
            </td>

        {% endfor %}

    </tbody>
</table>
{% if caption %}
    <div class="caption text-center text-muted">
        {{ caption }}
    </div>
{% endif %}